{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}
    New Title
{% endblock %}

{% block corpDocument %}
    <ol>
        <li>New Title</li>
        <li>I love heritage</li>


    </ol>
{% endblock %}


<div>
    <p>
        Essaie rajout
    </p>


</div>