{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}
    New Title
{% endblock %}

{% block corpDocument %}
    {{ parent() }}
    <ol>
        <li>New Title</li>
        <li>I love heritage</li>


    </ol>
{% endblock %}

